<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post">
    <!-- FORMULÁRIO PRONTO DO DJANGO{{ form.as_p }} -->
        {% csrf_token %} <!-- VALIDA AS INFORMAÇÕES -->
        <div>
            <label>Nome:</label>
            {{ form.nome }} <br>
        </div>
        <div>
            <label>Sexo:</label>
            {{ form.sexo }}
        </div>
        <div>
            <label>Data de Nascimento:</label>
            {{ form.data_nascimento }}
        </div>
        <div>
            <label>Email:</label>
            {{ form.email }}
        </div>
        <div>
            <label>Profissao:</label>
            {{ form.profissao }}
        </div>
        <div>
            <input type="submit" name="Cadastrar">
        </div>
    </form>
</body>
</html>